
#leftEye {
    width: 50px; 
    height: 50px; 
    position: relative; 
    background: rgb(2, 2, 2); 
    left: 300px; 
    top: 296px;
    border-radius: 25px; 
    z-index: 1;
}

#rightEye { 
    width: 50px; 
    height: 50px; 
    position: relative; 
    background: rgb(2, 2, 2);
    left: 835px; 
    top: 232px;
    /* background-image: url('greyEyes.png'); */
    border-radius: 25px; 
    z-index:2;
} 

#bob {
    background-image: url('bugEyesErased.png') ;
    background-repeat: no-repeat;
    position: absolute; 
    z-index: 100;
    height: 100%;
    width: 100%; 
} 

body {
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    min-width: 100vw; 
}